#homepage-grid {
  margin: 40px;
}

.sidebar {
    grid-area: sidebar;
  }

  .sidebar2 {
    grid-area: sidebar2;
  }

  .content {
    height: 60vh;
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .wrapper {
    background-color: #fff;
    color: #444;
  }

  .wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

  @media only screen and (min-width: 500px)  {
  .wrapper {

    grid-template-columns: 20% auto;
    grid-template-areas:
    "sidebar  content"
    "sidebar2 sidebar2"
    "footer   footer";
  }
  }

  @media only screen and (min-width: 600px)   {
    .wrapper {
      grid-gap: 20px;
      grid-template-columns: 200px auto 200px;
      grid-template-areas:
      "sidebar content sidebar2"
      "footer  footer  footer";
      /*max-width: 600px;*/
    }
  }

.box {
  /*background-color: #444;*/
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%; 
}


.header,
.footer {
  background-color: #999999;
}

.sidebar,
.content,
.sidebar2 {
  height: 100%;
}

.sidebar {
  /* height: 50vh; */
  background-color: #6ec6ff;
  /*height: 15vh;*/
  height: auto;
}

/* Box behind the project overview*/
.content {
  height: 60vh; 
  background-color: #6ec6ff;
  overflow: scroll;
}

.sidebar2 {
  background-color: #6ec6ff;
  color: #444;
  overflow: scroll; 
  height: 60vh;
}

.sidebar img {
  max-height: 100%;
  max-width: 100%;
}



