body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chatroom {
  border-style: solid;
}

/* Begin Profile CSS */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.profile-title {
  color: grey;
  font-size: 18px;
}

.profile-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile-a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.profile-button:hover,
.profile-a:hover {
  opacity: 0.7;
}

.card h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* End Profile CSS */

/* Begin Chat CSS */

.chat-body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.chat-body:nth-child(even) {
  border-color: #ccc;
  background-color: #ddd;
}

.chat-body:nth-child(odd) {
  border-color: #dedede;
  background-color: #f1f1f1;
}

.chat-container {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

.chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.chat-form {
  border: 3px solid #cecece;
}

.to-bottom-button {
  background-color: #ddd ;
  font-size: 25px;
}

.to-top-button {
  background-color: #ddd;
  font-size: 25px;
}

/* End Chat CSS */

/* Begin Project Page CSS */
.project-list {
  overflow: scroll;
  height: 60vh;
  border-radius: 25px;
  width: 700px;
}

.project-summary {
  border-radius: 25px;
  margin: 10px;
  max-width: 800px;
}

.project-summary:nth-child(even) {
  border-color: #ccc;
  background-color: #ddd;
}

.project-summary:nth-child(odd) {
  border-color: #dedede;
  background-color: #f1f1f1;
}

.notification-header {
  background-color: #f1f1f1;
  text-size-adjust: 0.5;
}

.card-content {
  background-color: #ddd;
  border-radius: 25px;
}

.card-action {
  background-color: #000000;
}

/* End Project Detail Page CSS */

/* Begin Student CSS */

.student_list_container {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.student_list_container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.student_list_container li {
  float: left;
}

.student_list_box {
  align-content: center;
  margin: auto;
}
/* End Student CSS */

/* Begin Scrollbar CSS */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner{
  opacity: 0.0;
} 

/* End Scrollbar CSS */
