#chat-grid {
    margin: 0px;
    background-color: #6ec6ff;
    height: 80vh;
    overflow: scroll;
 }



 /* #send-message {
     background-color: #2196F3;
 } */

/* body {
    background-color: lightgray;
} */